p {
    font-size: 25px;
    font-family: "lucida handwriting";
    font-weight: normal;
    color:#8226F0;
    text-align: center;


}

body {
    background-color:#522EFB;
}

header {
    font-size: 28px;
    font-family: "lucida handwriting";
    font-weight: normal;
    color:#8226F0;
    text-align: center;
    background-color:#26F0ED;


}


main {
    background-color:#26F0ED;

}

footer {
    font-size: 28px;
    font-family: "lucida handwriting";
    font-weight: normal;
    color:#8226F0;
    text-align: center;
    background-color:#26F0ED;

}
